@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  color-scheme: light dark;
	--form-control-border-radius: 6px;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
	min-height: 100vh;
	margin: 0;
	background-color: Canvas;
	color: CanvasText;
	padding: 1rem;
}

input[type="text"] {
	background-color: Field;
	color: FieldText;
	border: 1px solid color-mix(in srgb, Canvas, FieldText);
	border-radius: var(--form-control-border-radius);
}

input[type="checkbox"] {
	background-color: Field;
	border: 1px solid ButtonBorder;
	border-radius: calc(0.5*var(--form-control-border-radius));
}

button {
	background-color: ButtonFace;
	color: ButtonText;
	border-radius: var(--form-control-border-radius);
	padding: 0.5rem 0.75rem;
}

@media (forced-colors: active) {
	button {
		border: 1px solid ButtonBorder;
	}
}
